{% extends 'AppBundle:pagina:index.html.twig' %}
{% block body %}
<div class="container">
				<div class="row">
					<div class="col-sm-6 triggerAnimation animated fadeInLeft" data-animate="fadeInLeft">
						<div class="space30">&nbsp;</div>
						<h2>titulo de la pagina</h2>
						<div class="space15">&nbsp;</div>
						<p>Utexto texto texto, texto texto texto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto texto.
 
texto texto texto, texto texto texto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto .</p>
						<p>texto texto texto, texto texto texto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto texto.
 
texto texto texto, texto texto texto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto texto, texto textotexto texto .</p>
						<div class="space20">&nbsp;</div>
						
					</div>
					<div class="col-sm-6 triggerAnimation animated fadeInRight" data-animate="fadeInRight">
						<div class="space10">&nbsp;</div>
						<img src="{{ asset('bundles/app/dest/images/computer.png')}}" alt="">
					</div>
				</div>	
			</div>

	{% endblock %}