{% extends 'AppBundle:pagina:index.html.twig' %}
{% block body %}
<div class="container">
				<div class="content space-top-none space-bottom-none">
				<div class="main-content">
				<h2 class="text-center wow fadeInDown animated" style="visibility: visible;">Estos son algunos tips</h2>
				<div class="space20">&nbsp;</div>

				<div class="row">
					<div class="col-sm-3 ">
						<div class="beta-person beta-person-full">
							<div class="bets-img-hover"><img src="{{ asset('bundles/app/dest/images/person1.jpg')}}" alt=""></div>
							<div class="beta-person-body text-center bg-gray">
								<div class="indicator-top"></div>
								<h5>El experto</h5>
								<p class="font-large">mecanico</p>
								<p>tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip .</p>
								
							</div>
						</div>
					</div>
					<div class="col-sm-3 ">
						<div class="beta-person beta-person-full">
							<div class="bets-img-hover">
							<img src="{{ asset('bundles/app/dest/images/person2.jpg')}}" alt="">
							</div>
							<div class="beta-person-body text-center bg-gray">
								<div class="indicator-top"></div>
								<h5>el experto</h5>
								<p class="font-large">mecanico</p>
								<p>tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip .</p>
								
							</div>
						</div>
					</div>
					<div class="col-sm-3 ">
						<div class="beta-person beta-person-full">
							<div class="bets-img-hover">
							<img src="{{ asset('bundles/app/dest/images/person3.jpg')}}" alt="">
							</div>
							<div class="beta-person-body text-center bg-gray">
								<div class="indicator-top"></div>
								<h5>el experto </h5>
								<p class="font-large">mecanico</p>
								<p>tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip .</p>
								
							</div>
						</div>
					</div>
					<div class="col-sm-3 ">
						<div class="beta-person beta-person-full">
						<div class="bets-img-hover">
							<img src="{{ asset('bundles/app/dest/images/person4.jpg')}}" alt="">
						</div>
							<div class="beta-person-body text-center bg-gray">
								<div class="indicator-top"></div>
								<h5>el experto </h5>
								<p class="font-large">mecanico</p>
								<p>tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip .</p>
								
							</div>
						</div>
					</div>
				</div>
				</div>
				</div>
				</div>

{% endblock %}